html,
body,
mdl-layout__container {
  margin: 0;
}

body {
  overflow: hidden;
  overflow-y: hidden;
}

.content-grid {
  min-width: 100%;
  margin: 0 0 75px 0;
  padding: 0;
}

.wine-bg {
  background: #880e4f;
}

.white-bg {
  background: #fff;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

@media screen and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
  #search-bar {
    min-width: 250px;
  }
  .offset-search-bar {
    margin-left: 0;
  }
}
